body {
    margin: 0px;
}

nav {
    padding: 1rem;
    background-color: #433b6b;
    font-family: sans-serif, "Noto Color Emoji";
}

@font-face {
    font-family: "Noto Color Emoji";
    src: url(https://gitcdn.xyz/repo/googlefonts/noto-emoji/master/fonts/NotoColorEmoji.ttf);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

nav a {
    color: grey;
    text-decoration: none;
}

a.active {
    color: white;
    font-size: large;
}

.menu-item {
    display: inline-block;
    margin-right: 1rem;
}

ul {
    margin: 0;
}

.logo {
    font-size: x-large;
    color: white;
}

.toggler-icon {
    visibility: hidden;
}

.navbar-toggler {
    visibility: hidden;
}

@media only screen and (max-width: 990px) {
    .toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        visibility: visible;
    }
    .navbar-toggler {
        background-color: transparent;
        color: white;
        border-radius: 0.25em;
        border: 1px solid rgba(255, 255, 255, 0.75);
        visibility: visible;
    }
    .menu-item {
        visibility: hidden;
    }
}
